<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"><!-- this steals information from fragments -->
<head th:replace="fragments :: head"><!-- steals the "head" section from fragments -->
</head>
<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="container body-content">
        <p>View jobs by:</p>
        <ul>
            <li th:each="action : ${actions}"><!-- for each action in actions in this case the 5 options -->
                <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a><!-- iterates through employer, job etc -->
            </li>
        </ul>
    </div>

</body>
</html>