<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - COMPLETE - Use the same list display from search.html -->
   <!-- use code from problem 2 make sure model.addAttribute() param keys match up -->
    <div th:replace="fragments :: results"></div>
</div>

</body>
</html>